.canva{
    border: 2px solid #ccc;
    border-radius: 6px;
}

.submit, .clear{
    border: 0;
    padding: 20px 30px;
    height: 100%;
    width: 100%;
}

.submit{
    background-color: black;
    color: white;
    border-radius: 6px;
}

.clear {
    padding: 20px 30px;
    border: 1px solid red;
    color: red;
    border-radius: 6px;
    height: 100%;
    background-color: transparent;
}